<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
  </head>
  <body>
    <header role="banner">
      <a href="index.html"><img src="logo.png" width="600" alt="Empirical Software Solutions, LLC"/></a>
    </header>

    <main id="content" class="main-content" role="main">
      {% include banner.md %}
      {{ content }}
      <footer class="site-footer">
        {% include banner.md %}
        <span class="site-footer-credits">Copyright (C) 2019&ndash;2020 Empirical Software Solutions, LLC</span>
      </footer>
    </main>
  </body>
</html>
